@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Open+Sans:wght@300;400;500&display=swap');
:root{
    --primary-color: rgb(0, 110, 255);
    --secondary-color: rgb(145, 255, 182);
}
*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    font-family: "Open sans", Verdana, sans-serif;
    font-size: 1em;
    color: rgb(39, 39, 39);
    padding: 10px;
}
main{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dotted rgb(194, 194, 194);
}
h1{
    margin: 2rem 0 1rem 0;
    font-family: Merriweather, Georgia, serif;
    color: var(--primary-color);
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 1px;
}
p{
    text-align: center;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card{
width: 100%;
padding: 20px 10px 10px 10px;
margin: 20px 0;
background-color: white;
box-shadow: 0 1px 10px rgb(204, 204, 204) ;
display: flex;
flex-direction: column;
align-items: center;
}
audio{
    width: 100%;
    box-shadow: 0 1px 5px rgb(224, 224, 224);
}
audio::-webkit-media-controls-panel{
    background-color: rgb(255, 255, 255);
}
audio::-webkit-media-controls-play-button{
    background-color: var(--secondary-color);
}
.options{
    width: 100%;
    margin-top: 20px;
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.options-element{
    background-color: rgb(255, 255, 255);
}
.options-element label{
    display: block;
    width: 90px;
    height: 90px;
}
.options-element img{
    width: 100%;
    height: auto;
    cursor: pointer;
    box-shadow: 0 1px 2px rgb(214, 214, 214);
    transition: transform 0.2s ease-in-out;
}
.options-element img:hover{
    outline: 3px solid var(--secondary-color);
    transform: scale(1.05);
}
.options-element .isSelected{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
}
/*
.options-element img[src$=".svg"]{
    padding-top: 10px;
    width: 80px;
    height:auto;
}*/
input[type=radio]{
    display: unset;
}

form button{
    display: block;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0 40px 0;
    border: 2px solid gray;
    color: #2e2e2e;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
form button:hover{
    background-color: var(--secondary-color);
}

.results{
    width: 100%;
    padding: 25px;
    margin: 20px 0;
    background-color: white;
    box-shadow: 0 1px 10px rgb(204, 204, 204) ;  
}
.results h2{
    text-align: center;
}
.results .help{
    text-align: center;
    font-size: 1em;
    margin-top: 0.8px;
}
.results .note{
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
}
.footer{
    font-size: 0.8em;
    color: gray;
}
.footer a{
    color: gray;
}

.failure{
    animation: failure 0.3s ease-in-out;
}

@keyframes failure{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(5px);
    }
    66%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0);
    }
}

@media only screen and (min-width: 600px) {
    body{
        padding: 10px 50px;
    }
    .card{
        width: 60%;
        min-width: 400px;
    }
    .results{
        width: 60%;
        min-width: 400px;
    }
}
@media only screen and (min-width: 800px) {
    body{
        padding: 10px 100px;
    }
    .card{
        width: 50%;
        min-width: 600px;
        padding: 3rem 3rem 2rem 3rem;
    }
    .results{
        width: 50%;
        min-width: 600px;
        padding: 3rem 3rem 2rem 3rem;
    }
}